<div id="app">
  <header>
    <mat-toolbar>
      <span>{{ title }}</span>

      <span class="example-spacer"></span>

      <a mat-button [routerLink]="['/v14']" routerLinkActive="router-link-active"> Angular V14 </a>
      <a mat-button [routerLink]="['/v15']" routerLinkActive="router-link-active"> Angular V15 </a>
      <a mat-button [routerLink]="['/v16']" routerLinkActive="router-link-active"> Angular V16 </a>
      <a mat-button [routerLink]="['/v17']" routerLinkActive="router-link-active"> Angular V17 </a>
      <a mat-button [routerLink]="['/v18']" routerLinkActive="router-link-active"> Angular V18 </a>

      <span class="example-spacer"></span>

      <a mat-button [routerLink]="['/standalone']" routerLinkActive="router-link-active"> Standalone Components </a>
      <a mat-button [routerLink]="['/signals']" routerLinkActive="router-link-active"> Signals </a>
      <a mat-button [routerLink]="['/outlook']" routerLinkActive="router-link-active"> Ausblick </a>
    </mat-toolbar>
  </header>

  <main>
    <router-outlet />
  </main>
</div>
