<h2>Ausblick: Wo geht die Reise (vermutlich) hin?</h2>

<figure class="center">
  <img src="ball.webp" alt="Kristallkugel" />
  <figcaption>I ... see the ... future!</figcaption>
</figure>

<p>Niemand kann in die Zukunft sehen, aber es deuten sich</p>

<ul>
  <li>
    Die inaktive Phase (Angular ca. 4 bis 13), wo nur wenig tatsächliche Verbesserungen umgesetzt wurden, ist scheinbar
    vorbei. Jeder Release enthält eine gesunde Anzahl an Verbesserungen und sinnvollen, neuen Funktionen.
  </li>
  <li>
    Angular wird weiter konsequent den Umbau auf eine Signals-basierte Architektur verfolgen. Mittelfristig wird Zone.js
    aus den Anwendungen verschwinden.
  </li>
  <li>
    Die funktionalen Elemente werden weiter zunehmen, die Klassen- und Decorator-basierte Syntax wird weniger werden.
  </li>
  <li>
    Der Trend weg von Eigenentwicklungen hin zu Web-Standards wird wahrscheinlich weiter gehen. Ein gutes Beispiel ist
    <a
      href="https://angular.dev/tutorials/first-app/14-http#update-service-to-use-web-server-instead-of-local-array"
      target="_blank"
    >
      dieser Teil des neuen, offiziellen Angular Tutorials </a
    >. Dort wird für einfache API-Request tatsächlich direkt die "fetch-API" verwendet, statt den "HttpClient" zu
    importieren.
  </li>
  <li>RXJS wird weiter seinen Platz haben, aber nicht mehr der "Hammer für jeden Nagel und Nicht-Nagel sein".</li>
  <li>Angular und React werden definitiv zu einem Framework verschmelzen und die Weltherrschaft an sich reißen.</li>
</ul>

<p>
  Wen es interessiert, die Angular Anwendung mit den Beispielen und Folien findet ihr auf
  <a href="https://github.com/mremolt/angular-tldr-vortrag" target="_blank">meinem Github Account</a>.
</p>
